<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="某某公司"/>
    <meta charset="UTF-8"/>
    <!-- <meta http-equiv="Content-type" content="text/html; charset=UTF-8" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>商业收据/Invoice</title>
    <link href="styles/invoice.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="root">
    <div>
        <img class="logo" src="images/banner.png" alt="banner"/>
    </div>
    <h1>${greeting}</h1>

    <div class="block">Invoice#INV-${txId}</div>
    <table class="invoiceTalbe">
        <tr>
            <th>No.</th>
            <th>日期/Date</th>
            <th>服务/Service</th>
            <th>费用/Amount</th>
        </tr>
        <#if itemList?? && itemList?size gt 0>
            <#assign lastItem = itemList[itemList?size - 1]>
            <#list itemList as item>
            <tr>
                <td>Item#${(item_index) + 1}</td>
                <td>${item.date}</td>
                <td>${item.desc}</td>
                <td>${item.amount}</td>
            </tr>
            </#list>
        <#else>
            <!--列表为空，无法获取数据-->
        </#if>
    </table>
    <div class="block amountDue">
        应付金额/Amount Due: ${totalAmount}
    </div>

</div>
</body>
</html>
