/* fixed header and footer layout */
html, body {
    margin: 0;
    height: 100%; /* can also use viewport units (height: 100vh) */
}
.layout-fixed-header-footer{
    display: flex; /* displays flex-items (children) inline */
    flex-direction: column; /* stacks them vertically */
    height: 100%; /* needs to take the parents height, alternative: body {display: flex} */
}

.layout-mainView{ 
    flex: 1; /* takes the remaining height of the "container" div */
    overflow: auto; /* to scroll just the "main" div */
}
.layout-mainView img.bgLogo {
    height: 62%;
    width: auto;
    opacity: 0.02;
}
@media screen and (orientation: portrait) {
    .layout-mainView img.position-center_middle_fixed {
        height: auto;
        width: 62%;
    }
}
.layout-fixed-header, .layout-fixed-footer{       
    background: rgb(19, 25, 33);
    color: #fff;
    padding: 10px 10px;
}
.layout-fixed-footer{
    padding: 10px 30px;
    text-align: right;
}
@media only screen and (max-height : 740px) {
    .layout-fixed-header, .layout-fixed-footer{
        padding: 2px 2px;
    }
}
.appPage.active {    
    height: 100%;
}
.appPage:not(.active) {
    display: none !important;
}

/* position */

.position-container { /*background logo z-index not working when: The element doesn’t have its position set*/   
    position: relative;
    width: 100%;
    height: 100%;
}
.vertical-center-element {
    position: absolute;
    top: 43%;
    transform: translateY(-43%);
    /*    height: 100%;*/
}
.horizontal-center-element {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    /*    height: 100%;*/
}
.position-center {
    /*    margin: 0;
        position: fixed;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);*/

    text-align:center;
}
.position-center_middle {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.position-center_middle_fixed {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



/* Singl-Level Main Menu */
.navbar {
    background-color: rgb(19, 25, 33);
    overflow: hidden;
}
.navbar a {
    float: left;
    text-align: center;
}
.main-menu{
    display: inline-block;
    font-size: 16px;  
    color: white;
    text-decoration: none;
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.main-menu.disabled, .subnav.disabled .main-menu{
    color: grey;
    cursor: default;
}
.main-menu:not(.disabled):hover, .main-menu.active, .subnav-content .main-menu:not(.active):not(.disabled):hover {
    border-bottom-style:solid;
    border-bottom-width:2px;
    box-sizing:border-box;
    border-bottom-color:rgb(228, 121, 17);
    color: rgb(228, 121, 17);
}
.subnav-content .main-menu.active {
    background-color: rgb(228, 121, 17);
    color: white;
}
/* Two-Level Main Menu */
.subnav {
    float: left;
    overflow: hidden;
}
.subnav.right  {
    float: right;
}
.subnav-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color:rgb(35, 47, 62);
}
.subnav:not(.disabled):hover .subnav-content {
    display: block;
}
.subnav-content.flat {
    left: 0;
    width: 100%;
}
.subnav-content.dropdown {
    width:30px;
    /*    min-width: 160px; ski*/max-width: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdownDiv {/* ski */
    width:30px;
    min-width: 160px;
    background-color:rgb(35, 47, 62);
    position: relative;
    left: -60px;
    top: 0px;
}
.subnav-content.flat a {
    float: left;
}
.subnav-content.dropdown a {
    float: none;
    display: block;
    text-align: left;
}
.subnav-content.dropdown .main-menu {
    padding: 12px 16px;
}
/* Two-Level Main Menu - arrow */
.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@media only screen and (max-height : 812px) {
    .main-menu, .subnav-content.dropdown .main-menu{
        padding: 2px 10px;
    }
}

/* resizable split window */
.splitter {
    width: 100%;
    height: 100%;
    display: flex;
}
.splitter .separator {
    cursor: col-resize;
    background-color: #aaa;
/*    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='black'/></svg>");
    background-repeat: no-repeat;
    background-position: center;*/
    width: 6px;
    height: 100%;
/* prevent browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.splitter .leftPanel {
    width: 20%;
    height: 100%;
    overflow: auto; 
    min-width: 10px;
}
.splitter .rightPanel {
    width: 80%;
    height: 100%;
    overflow-y: auto; 
    min-width: 10px;
}

/** jsTree */
.jsTree { 
    border-top:1px solid silver; 
    overflow: visible; 
    padding:0px 0;
    font-style: normal;
    color: rgb(32, 48, 60);
}